<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>TruckoRig</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ru</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>

	<key>UIAppFonts</key>
	<array>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMSans-Bold.ttf</string>
	</array>

	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>

	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.truckorig.sync.refresh</string>
	</array>

	<key>NSCameraUsageDescription</key>
	<string>TruckoRig uses the camera to photograph paperwork and scan documents for your loads.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>TruckoRig can save load photos to your photo library.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>TruckoRig tags load photos with where they were taken, so you can prove where paperwork was signed.</string>

	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
